//aqui se guardaran las variables

//importar tipografia
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');
//Fuentes
$main-font:'Ubuntu', sans-serif;
$light:300;
$normal:400;

//Convetir px a em
@function em($el,$parent:16px){
  @return ($el / $parent) * 1em;
}

$font-size:em(14px);

$h3-size:$font-size * 1.15;
$h2-size:$font-size * 1.35;
$h1-size:$font-size * 1.7;

$colors:(
    azul-base:#00B1F3,
    azul-oscuro:#03151F,
    azul-medio:#006BAB,
    azul-claro:#29DAFF,
    rojo:#FF3532,
    rojo-claro:#FF4946,
    gris-oscuro:#19242B,
    gris-claro:#CDCDCD,
    success:#00CB30,
    blanco:#ffffff
);
@function  color($color){
  @return  map_get($colors,$color);
}
//Funcion para obtener imagenes
@function img($img){
  @return url('../img/#{$img}');
}



























